
/* Forced vertical scrollbar */ 
html, body {
	height: 100%;
	margin: 0 0 1px;
	padding: 0;
}

#sidebar {
	/* Required */
	width: 240px;
	position: fixed;
	right: 50%;
	margin: 0 220px 0 0;
	/* Editable */
	top: 0;
	border-right: 1px solid black;
	height: 100%;
}

#content {
	/* Required */
	width: 900px;
	margin: 15px auto;
	position: relative;
}

/* div, containing the entry list */
#scrollPane {
	/* Required */
	width: 640px;
	float: right;
	/* Editable */
	font-family: sans-serif;
}

	/*
	 * Sidebar
	 */

/* p, the page title */
#pageTitle {
	font-family: sans-serif;
	font-size: 22pt;
	font-weight: lighter;
	margin-bottom: 10px;
}

#githubLink {
	font-size: 10pt;
	font-weight: normal;
}

#githubLink a {
	text-decoration: none;
	color: blue;
}

#githubLink a:hover {
	text-decoration: underline;
}

/* img, the arrow images showing what is filtering the entries */
img {
	position: fixed;
	z-index: 100;
}

/* the search box and tag list title */
#searchTitle, #tagListTitle {
	padding: 0;
	margin: 20px 0 14px 10px;
	font-family: sans-serif;
	font-size: 14pt;
}

/* input, the search box */
#searchBox {
	padding: 2px;
	width: 160px;
	font-size: 11pt;
	/* Custom border */
	outline: none;
	border: 1px solid #696969;
}

#searchBox:hover {
	border: 1px solid blue;
}

/* p, the tag list */
.tagList {
	font-family: sans-serif;
	font-size: 11pt;
}

/* p, containing the tag */
.tag {
	cursor: pointer;
	margin: 4px;
	text-decoration: none;
	color: #888;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tag:hover {
	color: blue;
}

.tagSelected {
	color: #111;
	padding-left: 20px;
}

	/*
	 * Entries
	 */

/* p, section title */
.header {
	font-family: "Ubuntu Light", sans-serif;
	font-size: 18pt;
	color: navy;
}

/* div, contains the entry */
.entryBlock {
	padding: 10px;
	border-top: 1px dashed #7f7f7f;
}


.entryMeaningContext {
	float: left;
	width: 140px;
	overflow: hidden;
	clear: left;
	text-align: right;
	text-overflow: ellipsis;
	white-space: nowrap;

	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10pt;
	/*font-weight: bold;*/
	line-height: 18px;
	padding-bottom: 10px;
	color: #999;
}

.entryMeaningValue {
	margin-left: 150px;
 
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10pt;
	line-height: 18px;
	padding-bottom: 10px;
	color: #333;
}

.seeAlsoHeader {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 10pt;
	color: #333;
}

.seeAlsoTerm {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11pt;
	color: #333;
}

.editLink {
	font-family: sans-serif;
	font-size: 12px;
	color: blue;
	font-style: underline;
	cursor: pointer;
}


/* ul, contains the word list for each entry  */
.entryWordList {
	padding-left: 40px;
}

/* li, contains each single word or set of sub-word spans */
.entryWordBlock {
	margin: 1px 0;
	padding: 4px 4px;
}

/* applied when highlighted */
.entryBlockHighlighted {
	background-color: #FFF666;
}

[contenteditable=true]:focus {
	font-family: monospace;
	padding: 2px;
	border: 1px solid blue;
}

/* p, contains some info on that entry variation */
.entryWordDesc {
	padding: 2px 2px 2px 12px;
	margin: 0;
	font-size: 10pt;
	color: #696969;/* dimgrey */
}

/* p, a description of the entry */
.entryDesc {
	padding: 8px 8px 0 60px;
}


/* p, tags of the entry */
.entryTags {
	margin-top: 0;
	color: grey;
	font-size: 10pt;
	text-align: right;
}